body {
	margin: 0;
	background-color: grey;
}
a {
	color: white;
}
h1 {
    font-size: 60px;
}
header {
	background-image: url(../images/stars.jpg);
	text-align: center;
	color: white;
	height: 200px;
}
main {
	text-align: center;
}
img {
	border-radius: 50%;
}
footer {
    text-align: center;
    background-color: black;
    color: white;
}